* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 2rem;
}
.container {
  width: 100%;
  display: grid;
  place-content: center;
  text-align: center;


}
.counter h2{
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 1rem;
}
.counter-btns {
  margin-top: 1rem;
}
.name, .number{
    font-size: 35px;
}
.increase-btn{
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.increase-btn:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.increase-btn:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .increase-btn{
    padding: 13px 50px 13px;
  }
}
 .decrease-btn {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

 .decrease-btn:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.decrease-btn:hover:after {
  transform: translate(0, 0);
}

.decrease-btn:active {
  background-color: #ffdeda;
  outline: 0;
}

.decrease-btn:hover {
  outline: 0;
}

@media (min-width: 768px) {
    .decrease-btn {
    padding: 0 40px;
  }
}

.reset-btn{
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.reset-btn:focus {
  text-decoration: none;
}

.reset-btn:hover {
  text-decoration: none;
}

.reset-btn:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.reset-btn:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .reset-btn{
    padding: 12px 50px;
  }
}

@media (max-width: 768px) {
    .ounter-btns{
    display: grid;
    place-content: center;
    }
  }
  