* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px,
    rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(240, 46, 170, 0.05) 0px 25px;
}
.card {
  display: grid;
  place-content: center;
}
.testimonial {
  font-size: 34px;
  font-weight: bolder;
  text-align: center;
 margin-bottom: 3rem;
}
.image {
  width: 100%;
  margin-bottom: 4rem;
}
img {
  width: 200px;
  height: 200px;
  border: 1px solid #fff;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.elements {
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0rem;
}
.text {
  text-align: center;
}
.lorem {
  font-size: 20px;
  color: #3c4043;
}

.btn {
  background-color: #3dd1e7;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:focus {
  outline: 0;
}

.btn:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.btn:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .btn {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}

@media (max-width: 568px) {
  .testimonial {
    display: none;
  }
  .image {
    width: 100%;
    margin-bottom: 4rem;
  }
  img {
    width: 150px;
    height: 150px;
  }
  .text {
    font-size: 18px;
    width: 250px;
  }
  .btn {
    width: 200px;
    max-width: 75px;
  }
}

@media (max-width: 468px) {
  .testimonial {
    display: none;
  }

  .text {
    font-size: 15px;
    width: 230px;
  }
  .btn {
    width: 100%;
    max-width: 75px;
  }
}
